:root {
  --primaryColor: #0d47a1;
  --primaryLightColor: #5472d3;
  --primaryLightColorAlpha: #5472d380;
  --primaryDarkColor: #002171;
  --primaryDarkColorAlpha: #00217180;
  --secondaryColor: #b0bec5;
  --secondaryLightColor: #e2f1f8;
  --secondaryDarkColor: #808e95;
  --secondaryDarkColorAlpha: #808e9580;
  --primaryTextColor: #ffffff;
  --secondaryTextColor: #000000;
}

* {
  font-family: Arial;
}
body {
}
.header {
  margin-top: 0;
  padding-top: 10px;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 0 10px 0 var(--primaryDarkColorAlpha);
  text-align: center;
  background-color: var(--primaryColor);
  color: var(--primaryTextColor);
}
thead {
  font-weight: bold;
  color: var(--secondaryLightColor);
  background-color: var(--secondaryDarkColor);
}
.even td {
  background-color: var(--secondaryLightColor);
}
.odd td {
}
.deleteX {
  font-weight: bold;
  color: var(--primaryDarkColorAlpha);
}
.deleteX:hover {
  color: darkred;
}
.found {
  font-weight: bold;
  background-color: var(--primaryLightColorAlpha);
}

.search {
  float: right;
}
.footer {
  font-family: sans-serif;
  font-size: 10px;
  color: var(--secondaryDarkColor);
  opacity: 0.75;
  position: absolute;
  bottom: 10px;
}
