:root {
  --primaryColor: #90a4ae;
  --primaryLightColor: #c1d5e0;
  --primaryDarkColor: #62757f;
  --secondaryColor: #ff6f00;
  --secondaryLightColor: #ffa040;
  --secondaryDarkColor: #c43e00;
  --primaryTextColor: #000000;
  --secondaryTextColor: #ffffff;
}

* {
  font-family: Arial;
}
body {
}
.header {
  margin-top: 0;
  padding-top: 10px;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 0 10px 0 rgba(255,123,16,.54);
  text-align: center;
  background-color: var(--secondaryColor);
  color: var(--secondaryTextColor);
}
thead {
  font-weight: bold;
  color: var(--primaryLightColor);
  background-color: var(--primaryDarkColor);
}
.even td {
  background-color: var(--primaryLightColor);
}
.odd td {
}
.found {
  font-weight: bold;
  background-color: var(--secondaryLightColor);
}

.search {
  float: right;
}
.footer {
  font-family: sans-serif;
  font-size: 10px;
  color: var(--primaryDarkColor);
  opacity: 0.75;
  position: absolute;
  bottom: 10px;
}
